winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Media==3.2.1
winrt-Windows.Media.Control==3.2.1
winrt-Windows.Media.Playback==3.2.1
winrt-Windows.Media.Core==3.2.1
winrt-Windows.Storage==3.2.1
winrt-Windows.Storage.Streams==3.2.1
pyinstaller==6.22.3
pystray==0.19.5
pillow==12.3.0
psutil==7.2.2
